body{
  background-image: url(fondo.jpg);
}

h1{
  text-align: center;
}

input{
  margin-left: 35px;
  width: 550px;
}

h3{
  margin-left: 12px;
}

p{
  margin-left: 25px;
}

#chat{
  background-color: #ABD1DA;
  height: 700px;
  width: 700px;
  margin: auto;
  border-radius: 20px;

}

#msgs{
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 500px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  font: bold 10% monospace;
  font-size: 15px;
}
