<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario 1</title>
  </head>
  <body>
    <h1>Formulario de Pedido</h1>
    <form  action="/lux_tienda/recepcion/" method="post">
      {% csrf_token %}
      <label>Nombre de la persona que hace el pedido: <label>
      <input type="text" name="nombre" value="Anonimo" /><br><br>

      <label>Articulo: <label>
      <input type="text" name="articulo" value="LAMINA X" />
      <input type="submit" value="OK" />

    </form>
  </body>
</html>
