{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LUX</title>
  <link rel="icon" type="image/png" src="{% static 'icon.png'%}" sizes="72x72">
  <link rel="stylesheet"  href="{% static 'css/lamina.css'%}">
</head>


  <body>

    <div id = "top">
      <img src="{% static 'title.png'%}" id = "title">
      <p>@philiplueck on Instagram</p>
    </div>

    <div id = "producto">
      <img src= "{% static '' %}{{lamina.image}}" alt="image1"/></a>
      <p id = "price"> $: {{lamina.precio}} </p>
      <p id = "stock">STOCK: {{lamina.stock}} </p>
    </div>

  </body>
</html>
