{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Formulario Pedido</title>
      <link rel="stylesheet"  href="{% static 'css/pedido.css'%}">
  </head>
  <body>

    <div id = "top">
      <img src="{% static 'title.png'%}" id = "title">
      <p>@philiplueck on Instagram</p>
    </div>

    <div id = "formulario">
      <p>¡¡Gracias {{persona}}!!</p>
      <p>Tu {{articulo}} llegará lo antes posible</p>
    </div>
    <a href="/" id = "principal">Página principal</a>
  </body>
</html>
